<head>
<link href="bootstrap.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body id="packt">
<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Symbol</th>
<th>Earning Date</th>
<th>Predicted Move</th>
<th>Since Last Earnings</th>
<th>EST EPS</th>
</tr>
</thead>
<tbody>

<% for(var i=0; i<list.length; i++) {%>
<tr>
<td><%= list[i].symbol %> </td>
<td><%= list[i].earning %></td>
<td><%= list[i].predicted %>% </td>
<td><%= list[i].last %>%  </td>
<td><%= list[i].eps %> </td>
</tr>
<% } %>

</tbody>
</table>
</body>