<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,inital-scale=1">
	<title> StockMarket Application </title>
	<link rel ="stylesheet" type ="text/css" href="bootstrap.min.css">
	<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="bootstrap.min.js"></script>
	<script src="jquery.js"></script>
</head>
<body>
	<div class="page-header">
		<center><h1>Welcome to  <small>Stock Earning </small></h1>
	</div>
	<form action="/New" method="POST">
	<div class="panel panel-default">
		<div class="panel-heading">
			Important Step
		</div>
		<div class="panel-body">
			You would like to select : 
			<label class="btn btn-info">
<input type="radio" name="optradio" value="1" checked> Save data Remotely
</label>
<label class="btn btn-info">
<input type="radio" name="optradio" value="0"> Save data into local Database
</label>
		</div>
		<div class="panel-footer">
			<input type="submit" class="btn btn-danger btn-sm" value="confirm" name="submit">
		</div>
	</div>
</form>
</body>
</html>	